In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("osm_data_cars.csv", index_col=0)

In [11]:
del df["id"]

In [12]:
df

,id_new,pt,geometry,all_tags
0,47.006201_6.9670316_ts2,"(47.006201, 6.9670316)","POLYGON((6.9670316 47.006201, 6.9668722 47.006...","[{'key': 'access', 'value': 'private'}, {'key'..."
1,39.7880508_-105.0333886_ts2,"(39.7880508, -105.0333886)","POLYGON((-105.0333886 39.7880508, -105.0334789...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
2,41.1745044_-83.4191734_ts2,"(41.1745044, -83.4191734)","POLYGON((-83.4191734 41.1745044, -83.4191729 4...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
3,4.9431691_114.9351884_ts2,"(4.9431691, 114.9351884)","POLYGON((114.9351884 4.9431691, 114.9352353 4....","[{'key': 'amenity', 'value': 'parking'}, {'key..."
4,50.7486297_-1.8496005_ts2,"(50.7486297, -1.8496005)","POLYGON((-1.8496005 50.7486297, -1.8493395 50....","[{'key': 'access', 'value': 'private'}, {'key'..."
...,...,...,...,...
614,39.8168989_-86.1564466_ts2,"(39.8168989, -86.1564466)","POLYGON((-86.1564466 39.8168989, -86.1565062 3...","[{'key': 'access', 'value': 'customers'}, {'ke..."
615,31.7651862_-106.4570959_ts2,"(31.7651862, -106.4570959)","POLYGON((-106.4570959 31.7651862, -106.4577207...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
616,49.3715495_6.1522216_ts2,"(49.3715495, 6.1522216)","POLYGON((6.1522216 49.3715495, 6.1523249 49.37...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
617,5.345678_-3.949021_ts2,"(5.345678, -3.949021)","POLYGON((-3.949021 5.345678, -3.9489734 5.3456...","[{'key': 'access', 'value': 'private'}, {'key'..."
618,50.7482532_-1.8594093_ts2,"(50.7482532, -1.8594093)","POLYGON((-1.8594093 50.7482532, -1.8594007 50....","[{'key': 'access', 'value': 'private'}, {'key'..."

In [13]:
df.rename(columns = {'id_new':'id'}, inplace = True)

In [14]:
df

,id,pt,geometry,all_tags
0,47.006201_6.9670316_ts2,"(47.006201, 6.9670316)","POLYGON((6.9670316 47.006201, 6.9668722 47.006...","[{'key': 'access', 'value': 'private'}, {'key'..."
1,39.7880508_-105.0333886_ts2,"(39.7880508, -105.0333886)","POLYGON((-105.0333886 39.7880508, -105.0334789...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
2,41.1745044_-83.4191734_ts2,"(41.1745044, -83.4191734)","POLYGON((-83.4191734 41.1745044, -83.4191729 4...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
3,4.9431691_114.9351884_ts2,"(4.9431691, 114.9351884)","POLYGON((114.9351884 4.9431691, 114.9352353 4....","[{'key': 'amenity', 'value': 'parking'}, {'key..."
4,50.7486297_-1.8496005_ts2,"(50.7486297, -1.8496005)","POLYGON((-1.8496005 50.7486297, -1.8493395 50....","[{'key': 'access', 'value': 'private'}, {'key'..."
...,...,...,...,...
614,39.8168989_-86.1564466_ts2,"(39.8168989, -86.1564466)","POLYGON((-86.1564466 39.8168989, -86.1565062 3...","[{'key': 'access', 'value': 'customers'}, {'ke..."
615,31.7651862_-106.4570959_ts2,"(31.7651862, -106.4570959)","POLYGON((-106.4570959 31.7651862, -106.4577207...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
616,49.3715495_6.1522216_ts2,"(49.3715495, 6.1522216)","POLYGON((6.1522216 49.3715495, 6.1523249 49.37...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
617,5.345678_-3.949021_ts2,"(5.345678, -3.949021)","POLYGON((-3.949021 5.345678, -3.9489734 5.3456...","[{'key': 'access', 'value': 'private'}, {'key'..."
618,50.7482532_-1.8594093_ts2,"(50.7482532, -1.8594093)","POLYGON((-1.8594093 50.7482532, -1.8594007 50....","[{'key': 'access', 'value': 'private'}, {'key'..."

In [15]:
df.to_csv("osm_data_cars_new.csv")