# Combination of white and blacklists

Data source: https://www.dropbox.com/sh/08ccnkpr5wdihdg/AAAz_s0IeX99co_34sARF70ma/OSM%20dataset%20JSON?dl=0&preview=osm_parking_polygons_09.json.gzip&subfolder_nav_tracking=1

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import time
from shapely.geometry import shape, mapping as shapely_mapping
from shapely import wkt
import re

In [81]:
def savefile(df, csv_name, PATH):
    if os.path.isfile(f"{PATH}/{csv_name}.csv"):
        return f"File \"{csv_name}\" already created! Change filename!"
    else:
        df.to_csv(f"{PATH}/{csv_name}.csv") 
        return f"File \"{csv_name}\" successfully saved!"

## 1) A - Truck Parking Lots

In [ ]:
# Number of "trucks" related parking lots:
# 00:  112
# 01:  101
# 02:  111
# 03:  102
# 04:   87
# 05:   97
# 06:  133
# 07:  118
# 08:  119
# 09:  108
# Sum: 1088

In [35]:
white_ls = ["whitelist", "whitelist2", "whitelist3", "whitelist-A", "whitelist-M", "whitelist-J", "trucklist"]
black_ls = ["blacklist", "blacklist2", "blacklist3", "blacklist-A", "blacklist-M", "blacklist-J"]

In [36]:
PATH = "ndata/trucks"

In [37]:
# Whitelists
first = True

for csv_name in white_ls:
    df = pd.read_csv(f"./{PATH}/{csv_name}.csv", index_col=0)
    
    if first:
        temp = df
        first = False
    else: 
        temp = pd.concat([temp, df])
    
print(f"Whitelists successfully loaded")
    
whitelists = temp.copy()

# Blacklists
first = True
for csv_name in black_ls:
    df = pd.read_csv(f"./{PATH}/{csv_name}.csv", index_col=0)
    
    if first:
        temp = df
        first = False
    else: 
        temp = pd.concat([temp, df])
    
print(f"Blacklists successfully loaded")

blacklists = temp.copy()

Whitelists successfully loaded
Blacklists successfully loaded

In [38]:
whitelists

                      id
0       45.472_3.249_ts2
1    40.564_-105.008_ts2
2     37.68_-106.547_ts2
3     41.336_-83.626_ts2
4     40.986_-83.712_ts2
..                   ...
272     45.338_3.275_ts1
273     44.745_3.288_ts1
274      50.713_9.66_ts1
275   40.417_-74.443_ts1
276   39.941_-81.533_ts1

[1101 rows x 1 columns]

In [6]:
# Problematic images!
dups = pd.merge(whitelists, blacklists, how ='inner', on =['id', 'id'])
dups.shape

(31, 1)

In [7]:
whitelists = whitelists[whitelists.id.isin(dups.id) == False]
blacklists = blacklists[blacklists.id.isin(dups.id) == False]

In [8]:
pd.merge(whitelists, blacklists, how ='inner', on =['id', 'id']).shape

(0, 1)

In [52]:
id1 = "46.419_4.863_ts1"
print("Whitelist:", whitelists.loc[whitelists["id"] == id1])
print("Blacklist:", blacklists.loc[blacklists["id"] == id1])

Whitelist: Empty DataFrame
Columns: [id]
Index: []
Blacklist: Empty DataFrame
Columns: [id]
Index: []

In [56]:
# Saving full lists
#print(savefile(whitelists, "whitelist_full", PATH))
#print(savefile(blacklists, "blacklist_full", PATH))

File "whitelist_full" successfully saved!
File "blacklist_full" successfully saved!

## 1) B - PKW Parking Lots

In [ ]:
# Simply drop duplicates

In [56]:
white_ls =   ["whitelist", "whitelist_-471", "whitelist_471-1000", "whitelist_1000-1198", "whitelist_1198-1525", "whitelist_1525-1805", "whitelist_1805-2201", "whitelist_2201-2609", "whitelist_2610-3171", "whitelist_3171-3501", "whitelist_3501-4001", "whitelist_4001-4623", "whitelist_4623-4895", "whitelist_4895-5068","whitelist2", "whitelist3", "whitelist-M"]
black_ls = ["whitelist_1-X", "whitelist_2-X", "whitelist_3-X"]
#black_ls = ["blacklist", "blacklist2", "blacklist3", "blacklist-A", "blacklist-M", "blacklist-J"]

In [50]:
PATH = "ndata/cars"

In [66]:
# Load whitelists
first = True

for csv_name in white_ls:
    df = pd.read_csv(f"./{PATH}/{csv_name}.csv", index_col=0)
    
    if first:
        temp_W = df
        first = False
    else: 
        temp_W = pd.concat([temp_W, df])
    
print(f"Whitelists successfully loaded")
    
whitelists = temp_W.copy()

Whitelists successfully loaded

In [67]:
# Load blacklists for later!
first_X = True
for csv_name in black_ls:
    df_X = pd.read_csv(f"./{PATH}/{csv_name}.csv", index_col=0)
    
    if first_X:
        temp_X = df_X
        first_X = False
    else: 
        tem_Xp = pd.concat([temp_X, df_X])
    
print(f"Blacklists successfully loaded")
    
blacklists_X = temp_X.copy()

Blacklists successfully loaded

In [68]:
blacklists_X

                     id
0     59.188_17.617_ts2
1      51.975_8.502_ts2
2     39.864_-4.019_ts2
3    43.757_-79.232_ts2
4      45.537_5.585_ts2
..                  ...
451  45.259_-93.655_ts2
452  39.921_-76.683_ts2
453  39.942_-82.988_ts2
454   36.57_-87.387_ts2
455   36.57_-87.387_ts2

[456 rows x 1 columns]

In [69]:
whitelists = whitelists.drop_duplicates()

In [70]:
whitelists

                              id
0    -32.0339685_150.8687032_ts2
1       43.5269787_5.4118628_ts2
2       45.5358083_5.5839205_ts2
3      61.1923689_26.0009592_ts2
4      40.475793_-80.0671549_ts2
..                           ...
140           43.501_-80.186_ts2
141             50.97_11.981_ts2
142             36.489_2.849_ts2
143           43.221_-71.535_ts2
144           43.217_-71.537_ts2

[1086 rows x 1 columns]

## 2) Creating sample of all data

In [54]:
# Functions needed
def parking_name_ts1(row_or_pt, new=False):
    """
    create an id from a (lat,lon) point or an object containing the pt property
    """
    # no "pt" item => assume it is a tuple
    try:
        pt = row_or_pt
        if new:
            a = round(pt[0], 7)
            b = round(pt[1], 7)
        else:
            a = round(pt[0], 3)
            b = round(pt[1], 3)
    except:
        return np.nan
    
    return f"{a}_{b}_ts1" ## FLAG

def parking_name_ts2(row_or_pt, new=False):
    """
    create an id from a (lat,lon) point or an object containing the pt property
    """
    # no "pt" item => assume it is a tuple
    try:
        pt = row_or_pt
        if new:
            a = round(pt[0], 7)
            b = round(pt[1], 7)
        else:
            a = round(pt[0], 3)
            b = round(pt[1], 3)
    except:
        return np.nan
    
    return f"{a}_{b}_ts2" ## FLAG


def get_point(geom):
    try:
        pt = re.split(r",", geom[9:])[0]
        pt = tuple(map(float, pt.split(' ')))
        pt_s = (pt[1], pt[0])
    except:
        return np.nan
    
    return pt_s

In [71]:
# Loading data
# THIS TAKES A FEW MINUTES

start_time = time.localtime()
start_t = time.time()
print("Started at:", time.asctime(start_time))

file_nr = list(range(10))
#file_nr = list(range(1))
first = True

for i in file_nr:
    df_r = pd.read_json(f"ndata/osm_parking_polygons_0{i}.json", lines=True)
    df_r["pt"] = df_r["geometry"].transform(lambda x: get_point(x))
    df_r = df_r.drop_duplicates(subset=['osm_version', 'osm_way_id', 'osm_timestamp', 'geometry', 'key', 'value', 'osm_id', 'pt'])
    df_ts1 = df_r.copy()
    df_ts2 = df_r.copy()
    
    df_ts1["id"] = [parking_name_ts1(x) for x in df_r["pt"]]
    df_ts1["id_new"] = [parking_name_ts1(x, True) for x in df_r["pt"]]
    df_ts2["id"] = [parking_name_ts2(x) for x in df_r["pt"]]
    df_ts2["id_new"] = [parking_name_ts2(x, True) for x in df_r["pt"]]
    
    df = pd.concat([df_ts1, df_ts2])
    df2 = df.copy()
    df = pd.merge(df, whitelists, how='inner', left_on='id', right_on="id")
    df2 = pd.merge(df2, whitelists, how='inner', left_on='id_new', right_on="id")
    df = pd.concat([df, df2])
    df = df[["id_new", "id", "pt", "geometry", "all_tags"]]
    df = df.dropna()
    
    if first:
        temp = df
        first = False
    else:
        temp = pd.concat([temp, df])
    
    print(f"File nr. {i} successfully loaded")

end_t = time.time()
print("Computation time (Min.):", (end_t-start_t)/60)

Started at: Sat May 28 21:38:07 2022
File nr. 0 successfully loaded
File nr. 1 successfully loaded
File nr. 2 successfully loaded
File nr. 3 successfully loaded
File nr. 4 successfully loaded
File nr. 5 successfully loaded
File nr. 6 successfully loaded
File nr. 7 successfully loaded
File nr. 8 successfully loaded
File nr. 9 successfully loaded
Computation time (Min.): 2.1748782833417257

In [72]:
temp

,id_new,id,pt,geometry,all_tags
0,47.006201_6.9670316_ts2,47.006_6.967_ts2,"(47.006201, 6.9670316)","POLYGON((6.9670316 47.006201, 6.9668722 47.006...","[{'key': 'access', 'value': 'private'}, {'key'..."
1,59.1875955_17.6167656_ts2,59.188_17.617_ts2,"(59.1875955, 17.6167656)","POLYGON((17.6167656 59.1875955, 17.6168131 59....","[{'key': 'access', 'value': 'restricted'}, {'k..."
2,51.9754365_8.5019413_ts2,51.975_8.502_ts2,"(51.9754365, 8.5019413)","POLYGON((8.5019413 51.9754365, 8.5021614 51.97...","[{'key': 'access', 'value': 'private'}, {'key'..."
3,39.8643349_-4.0193694_ts2,39.864_-4.019_ts2,"(39.8643349, -4.0193694)","POLYGON((-4.0193694 39.8643349, -4.0178646 39....","[{'key': 'amenity', 'value': 'parking'}, {'key..."
4,43.7565471_-79.2317921_ts2,43.757_-79.232_ts2,"(43.7565471, -79.2317921)","POLYGON((-79.2317921 43.7565471, -79.2318457 4...","[{'key': 'access', 'value': 'customers'}, {'ke..."
...,...,...,...,...,...
30,5.345678_-3.949021_ts2,5.346_-3.949_ts2,"(5.345678, -3.949021)","POLYGON((-3.949021 5.345678, -3.9489734 5.3456...","[{'key': 'access', 'value': 'private'}, {'key'..."
31,45.172425_5.7538404_ts2,45.172_5.754_ts2,"(45.172425, 5.7538404)","POLYGON((5.7538404 45.172425, 5.754211 45.1722...","[{'key': 'access', 'value': 'private'}, {'key'..."
32,44.1196918_4.8438315_ts2,44.12_4.844_ts2,"(44.1196918, 4.8438315)","POLYGON((4.8438315 44.1196918, 4.843901 44.119...","[{'key': 'amenity', 'value': 'parking'}]"
33,53.6895026_-1.3077646_ts2,53.69_-1.308_ts2,"(53.6895026, -1.3077646)","POLYGON((-1.3077646 53.6895026, -1.307365 53.6...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
34,50.7482532_-1.8594093_ts2,50.748_-1.859_ts2,"(50.7482532, -1.8594093)","POLYGON((-1.8594093 50.7482532, -1.8594007 50....","[{'key': 'access', 'value': 'private'}, {'key'..."

In [75]:
temp_Backup = temp.copy()

In [73]:
# Show full duplicates
temp[temp.duplicated(["id_new"], keep=False)].sort_values("id_new")

,id_new,id,pt,geometry,all_tags
294,45.1483135_10.0336308_ts2,45.148_10.034_ts2,"(45.1483135, 10.0336308)","POLYGON((10.0336308 45.1483135, 10.033762 45.1...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
295,45.1483135_10.0336308_ts2,45.148_10.034_ts2,"(45.1483135, 10.0336308)","POLYGON((10.0336308 45.1483135, 10.0337067 45....","[{'key': 'access', 'value': 'private'}, {'key'..."
324,45.474553_4.517701_ts2,45.475_4.518_ts2,"(45.474553, 4.517701)","POLYGON((4.517701 45.474553, 4.5175517 45.4745...","[{'key': 'access', 'value': 'private'}, {'key'..."
154,45.474553_4.517701_ts2,45.475_4.518_ts2,"(45.474553, 4.517701)","POLYGON((4.517701 45.474553, 4.517731 45.47445...","[{'key': 'access', 'value': 'private'}, {'key'..."

In [74]:
# Drop full duplicates
temp = temp.drop_duplicates(subset=["id_new", "id"], keep="first")

In [76]:
# CAR SPECIFIC
# Remove any more images manually
blacklist_c = blacklists_X.id

temp = temp[temp.id.isin(blacklist_c) == False]

In [15]:
# TRUCK SPECIFIC
# Remove any more images manually
blacklist_x = ["51.0871745_6.818784_ts1", "51.1897917_11.2103698_ts1", "40.2524442_-74.8666254_ts2", '44.9927133_-93.2227456_ts1', '45.8910774_4.8931997_ts1', '34.8262082_-118.8709283_ts1', '-36.5732756_145.3418897_ts1', '49.9610702_14.6184348_ts1', '49.9604929_14.617679_ts1', '47.6331467_17.6626497_ts1', '39.7024553_-86.3097267_ts1', '52.1328994_12.7518437_ts1', '-38.0880169_145.7796006_ts1', '43.9543296_-92.4711496_ts2', '44.9927133_-93.2227456_ts2', '42.4804664_-88.9980027_ts2', '45.8910774_4.8931997_ts2', '34.8262082_-118.8709283_ts2', '-36.5732756_145.3418897_ts2', '39.8825604_-86.2658228_ts2', '51.1897917_11.2103698_ts2', '51.5137028_6.8147713_ts2', '33.0518308_-84.1739349_ts2', '41.1953147_-81.6247347_ts2', '52.1328994_12.7518437_ts2', '-38.0880169_145.7796006_ts2', '50.3129944_13.5328468_ts2', '49.7458735_12.8417647_ts1', '45.8886957_4.8948677_ts1', '43.5425503_3.4435768_ts1', "39.131654_-81.5475266_ts2", '49.9700596_14.6257345_ts1', '50.0090359_14.5428202_ts1', '37.1407156_-93.721325_ts1', '-36.9486269_145.1448878_ts1', '49.5405677_6.1159626_ts1', '50.712683_9.6604288_ts1', '40.7786664_-86.1284246_ts1', '51.4040562_5.539363_ts1', '47.6330454_17.6626126_ts1', '47.6342311_17.663835_ts1', '45.8886957_4.8948677_ts2', '43.5425503_3.4435768_ts2', '52.4413076_31.6353856_ts2', '53.5703081_13.2010235_ts2', '37.1407156_-93.721325_ts2', '-36.9486269_145.1448878_ts2', '49.5405677_6.1159626_ts2', '40.7786664_-86.1284246_ts2', '39.5246275_-107.7870152_ts1', '34.8172208_-82.4104135_ts1', '36.1409127_-85.8060671_ts1', '49.090026_16.5906259_ts1', '49.090046_16.5912536_ts1', '43.9769407_-89.5013567_ts1', '47.6653357_16.6056719_ts1', '41.733931_-86.0041362_ts1','41.1033199_29.2904274_ts1', '49.7532897_13.5909798_ts1', '59.1297665_11.2735889_ts1', '42.9529689_-78.6026491_ts1', '47.3093657_4.5015609_ts1', '35.4632042_-97.4812612_ts1',
             '46.4197907_4.8661247_ts1', '-36.4980325_146.1073527_ts1', '39.5246275_-107.7870152_ts2', '29.2279023_47.998573_ts2', '36.1409127_-85.8060671_ts2', '43.9769407_-89.5013567_ts2', '44.7021264_-96.8477841_ts2', '39.8825962_-86.2663549_ts2', '41.733931_-86.0041362_ts2', '59.1297665_11.2735889_ts2', '42.9529689_-78.6026491_ts2', '44.2825656_-88.4643177_ts2', '51.818314_6.4429787_ts2', '39.6140582_-107.1395277_ts1', '34.8171251_-82.4097057_ts1', '49.0912032_16.5909717_ts1', '40.7690037_-74.0664022_ts1', '-37.5902931_144.2437763_ts1', '49.9701251_14.6262417_ts1', '52.0445711_4.5019215_ts1', '45.8844473_4.8939834_ts1', '-36.9481755_145.1449718_ts1', '49.3184835_13.7140703_ts1', '46.2760514_15.8648067_ts1', '39.6140582_-107.1395277_ts2', '-30.9693704_135.7492898_ts2', '40.7690037_-74.0664022_ts2', '-37.5902931_144.2437763_ts2', "38.8535764_-77.3764632_ts1", '35.4850901_-83.1521004_ts2', '45.8844473_4.8939834_ts2', '-36.4397774_146.249467_ts2', '-36.9481755_145.1449718_ts2', '49.3184835_13.7140703_ts2', '44.1721298_-93.2606222_ts2', '42.0205696_-75.78102_ts2', '29.3341136_-81.130304_ts2', '34.8168699_-82.4100187_ts1', '36.1399932_-85.8070166_ts1', '43.344725_3.2874111_ts1', '42.9933156_-82.9600218_ts1', '42.6045974_-83.9585919_ts1', '-37.804529_144.7526027_ts1', '41.0835949_-96.2762215_ts1', '52.8569267_5.0218975_ts1', '47.6343989_17.6638929_ts1', '51.6890372_12.7563646_ts1', '46.4187289_4.8657276_ts1', '49.3184551_13.7136046_ts1', '45.4717006_3.2486696_ts1', '44.5564111_3.256152_ts1', '36.1399932_-85.8070166_ts2', '43.344725_3.2874111_ts2', '42.9933156_-82.9600218_ts2', '42.6045974_-83.9585919_ts2', '42.5062033_-73.6869083_ts2', '51.1797933_11.9300437_ts2', '41.0835949_-96.2762215_ts2', '44.172228_-93.2605929_ts2', '51.6890372_12.7563646_ts2', '29.7672483_-96.1545539_ts2', '46.4187289_4.8657276_ts2', '49.3184551_13.7136046_ts2',
             '45.4717006_3.2486696_ts2', '44.5564111_3.256152_ts2', '42.7896279_-82.6602209_ts1', '36.1403754_-85.8065088_ts1', '49.0912061_16.5910587_ts1', '51.6365667_12.1988557_ts1', '46.6663487_-91.9989133_ts1', '45.8912166_4.8929089_ts1', '-37.7998096_144.7387477_ts1', '43.0216828_2.9532281_ts1', '50.009411_14.5425751_ts1', '50.0038275_14.5697744_ts1', '49.9633641_14.618846_ts1', '49.9752401_14.6043458_ts1', '49.7532638_13.5914095_ts1', '45.886272_4.8953188_ts1', '50.7125216_9.6604562_ts1', '49.2660913_6.7319272_ts1', '50.0871597_14.5365707_ts1', '43.4589917_-85.4767945_ts1', '45.9033382_4.728483_ts1', '41.9837526_-75.7489997_ts1', '42.937292_-70.8625858_ts2', '42.7896279_-82.6602209_ts2', '51.0787232_5.6898812_ts2', '36.1403754_-85.8065088_ts2', '46.6663487_-91.9989133_ts2', '45.8912166_4.8929089_ts2', '-37.7998096_144.7387477_ts2', '43.0216828_2.9532281_ts2', '50.0038275_14.5697744_ts2', '49.9752401_14.6043458_ts2', '45.886272_4.8953188_ts2', '43.2956257_3.2163624_ts2', '43.4589917_-85.4767945_ts2', '45.9033382_4.728483_ts2', '41.9837526_-75.7489997_ts2', '39.5251065_-107.7865918_ts1', '49.0911413_16.5913584_ts1', '34.825907_-118.8710399_ts1', '-31.9434869_152.4713555_ts1', '50.0038995_14.5696132_ts1', '38.9930082_-93.5877737_ts1', '43.7862973_-99.3384377_ts1', '45.470338_3.2471759_ts1', '51.2892492_4.3262278_ts1', '52.8573413_5.0218632_ts1', '45.4716325_3.249125_ts1', '45.9029411_4.7281525_ts2', "43.3854071_-123.3364207_ts2", "41.7826864_-87.9090439_ts1", "39.9050674_-81.5288342_ts1", "43.5429592_3.4443781_ts2", "45.903363_4.7283704_ts1", "42.8362263_-83.732946_ts1", "-28.2886883_29.131244_ts2",
             '34.825907_-118.8710399_ts2', '-31.9434869_152.4713555_ts2', '50.0038995_14.5696132_ts2', '-37.5915731_144.2417045_ts2', '51.2892492_4.3262278_ts2', '45.4716325_3.249125_ts2', '45.4719974_3.2483789_ts1', '49.6785728_12.6009508_ts1', '49.745543_12.8418373_ts1', '42.8723069_-87.9445639_ts1', '49.0901567_16.5909462_ts1', '45.890929_4.8933763_ts1', '46.9887413_5.504944_ts1', '-31.9433424_152.4710068_ts1', '49.5008662_6.1120313_ts1', '52.8572001_5.0220414_ts1', '47.6331489_17.6621682_ts1', '46.4183262_4.8670319_ts1', '-27.1246_152.9778066_ts1', '49.3179234_13.7144843_ts1', '49.7577105_13.6168009_ts1', '41.7826864_-87.9090439_ts2', '45.890929_4.8933763_ts2', '46.9887413_5.504944_ts2', '-31.9433424_152.4710068_ts2', '46.4183262_4.8670319_ts2', '49.3179234_13.7144843_ts2', '43.5429592_3.4443781_ts1', '41.3409024_-83.6237283_ts1', '43.9002136_-90.9134675_ts1', '-36.0107839_146.4106995_ts1', '50.0039594_14.569552_ts1', '46.4391955_18.7087886_ts1', '47.3117009_4.500878_ts1', '37.2374439_-85.9278984_ts1', '38.3381113_-85.5169652_ts1', '-36.9486701_145.145_ts1', '41.3409024_-83.6237283_ts2', '43.9002136_-90.9134675_ts2', '-36.0107839_146.4106995_ts2', '50.0039594_14.569552_ts2', '45.1974396_-93.548065_ts2', '37.2374439_-85.9278984_ts2', '38.3381113_-85.5169652_ts2', '-36.9486701_145.145_ts2', '42.9369961_-70.8630623_ts2', '45.4723659_3.2485687_ts1', '49.0899233_16.5911479_ts1', '49.0902535_16.5910169_ts1', '45.8912196_4.8930281_ts1', '50.0764417_14.5793548_ts1', '50.0770327_14.5800396_ts1', '42.7059461_-86.1674988_ts1', '46.2755482_15.8650115_ts1', '45.4723659_3.2485687_ts2', '45.903363_4.7283704_ts2', '45.8912196_4.8930281_ts2', '42.8362263_-83.732946_ts2', '37.7600634_-77.4646948_ts2', '50.0764417_14.5793548_ts2', '50.0770327_14.5800396_ts2', '42.7059461_-86.1674988_ts2', '45.8613165_-95.4225737_ts2']

temp = temp[temp.id_new.isin(blacklist_x) == False]

In [77]:
temp.shape

(619, 5)

In [78]:
temp = temp.reset_index(drop=True)

In [79]:
temp

,id_new,id,pt,geometry,all_tags
0,47.006201_6.9670316_ts2,47.006_6.967_ts2,"(47.006201, 6.9670316)","POLYGON((6.9670316 47.006201, 6.9668722 47.006...","[{'key': 'access', 'value': 'private'}, {'key'..."
1,39.7880508_-105.0333886_ts2,39.788_-105.033_ts2,"(39.7880508, -105.0333886)","POLYGON((-105.0333886 39.7880508, -105.0334789...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
2,41.1745044_-83.4191734_ts2,41.175_-83.419_ts2,"(41.1745044, -83.4191734)","POLYGON((-83.4191734 41.1745044, -83.4191729 4...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
3,4.9431691_114.9351884_ts2,4.943_114.935_ts2,"(4.9431691, 114.9351884)","POLYGON((114.9351884 4.9431691, 114.9352353 4....","[{'key': 'amenity', 'value': 'parking'}, {'key..."
4,50.7486297_-1.8496005_ts2,50.749_-1.85_ts2,"(50.7486297, -1.8496005)","POLYGON((-1.8496005 50.7486297, -1.8493395 50....","[{'key': 'access', 'value': 'private'}, {'key'..."
...,...,...,...,...,...
614,39.8168989_-86.1564466_ts2,39.817_-86.156_ts2,"(39.8168989, -86.1564466)","POLYGON((-86.1564466 39.8168989, -86.1565062 3...","[{'key': 'access', 'value': 'customers'}, {'ke..."
615,31.7651862_-106.4570959_ts2,31.765_-106.457_ts2,"(31.7651862, -106.4570959)","POLYGON((-106.4570959 31.7651862, -106.4577207...","[{'key': 'amenity', 'value': 'parking'}, {'key..."
616,49.3715495_6.1522216_ts2,49.372_6.152_ts2,"(49.3715495, 6.1522216)","POLYGON((6.1522216 49.3715495, 6.1523249 49.37...","[{'key': 'access', 'value': 'yes'}, {'key': 'a..."
617,5.345678_-3.949021_ts2,5.346_-3.949_ts2,"(5.345678, -3.949021)","POLYGON((-3.949021 5.345678, -3.9489734 5.3456...","[{'key': 'access', 'value': 'private'}, {'key'..."
618,50.7482532_-1.8594093_ts2,50.748_-1.859_ts2,"(50.7482532, -1.8594093)","POLYGON((-1.8594093 50.7482532, -1.8594007 50....","[{'key': 'access', 'value': 'private'}, {'key'..."

In [21]:
# Save TRUCKS
# print(savefile(temp, "osm_data_trucks", "ndata"))

File "osm_data_trucks" successfully saved!

In [82]:
# Save CARS
print(savefile(temp, "osm_data_cars_f", "ndata"))

File "osm_data_cars_f" successfully saved!